<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Login Page</title>
        <link th:href="@{/style/loginPage.css}" rel="stylesheet">
    </head>
    <body>
        <div class="login-container">
            <div class="login-card">
                <h1>Re-bonjour</h1>
                <div class="logo">A</div>
                <form th:action="@{/login}" method="post" class="login-form">
                    <label for="username">Nom d'utilisateur</label>
                    <input id="username" name="username" placeholder="Nom d'utilisateur">
                    <label for="password">Mot de passe</label>
                    <input id="password" name="password" placeholder="Entrez votre mot de passe" required type="password">
                    <span class="show-password">&#128065;</span>
                    <button class="login-button" type="submit">SE CONNECTER</button>
                </form>
                <p class="signup-text">Vous n'avez pas de compte ? <a href="/signUp">Créer un compte</a></p>
            </div>
        </div>
    </body>
</html>
